
head
	title test_app

	//Tech Meta
	meta( http-equiv="Content-Type", content="text/html; charset=utf-8" )
	meta( http-equiv="X-UA-Compatible", content="IE=7")
	meta( name="viewport", content="width=device-width, initial-scale=1.0")

	//Basic Meta
	title __TITLE__
	meta( name="description", content="{%= title %} Description here")
	meta( name="keywords", content="Keyword1, keyword 2")
		
	//Facebook Meta
	meta( property="og:title", 		content="__TITLE__" )
	meta( property="og:site_name", 	content="__TITLE__" )
	meta( property="og:description", content="__TITLE__ Description here" )
	meta( property="og:image", content="http://websiteAppURL.com/fb-img.jpg" )
	meta( property="og:url", content="http://websiteAppURL.com" )
	meta( property="og:type", content="website" )
		
	//Favicon
	link( rel="shortcut icon", href="/favicon.ico")
	link( rel="apple-touch-icon", href="/apple-touch-icon.png")

	//Css
	link( rel="stylesheet", media="screen", href="styles/main.css")

body
	.content
		{{> hello}}


		footer
			p copyright here\

	#Scripts
		script( src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" )
		script( src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js" )

		script( src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js" )

		script( src="scripts/app.js", type"text/javascript")

template(name="hello")
	h1 Hello
	p {{greeting}}


	input(type="button", value="Click")
