
head
	title test_app

	//Tech Meta
	meta( http-equiv="Content-Type", content="text/html; charset=utf-8" )
	meta( http-equiv="X-UA-Compatible", content="IE=7")
	meta( name="viewport", content="width=device-width, initial-scale=1.0")

	//Basic Meta
	title __TITLE__
	meta( name="description", content="{%= title %} Description here")
	meta( name="keywords", content="Keyword1, keyword 2")
		
	//Facebook Meta
	meta( property="og:title", 		content="__TITLE__" )
	meta( property="og:site_name", 	content="__TITLE__" )
	meta( property="og:description", content="__TITLE__ Description here" )
	meta( property="og:image", content="http://websiteAppURL.com/fb-img.jpg" )
	meta( property="og:url", content="http://websiteAppURL.com" )
	meta( property="og:type", content="website" )
		
	//Favicon
	link( rel="shortcut icon", href="/favicon.ico")
	link( rel="apple-touch-icon", href="/apple-touch-icon.png")

	//Css
	link( rel="stylesheet", media="screen", href="styles/main.css", type="text/css")

body



	.content
		{{> hello}}


	#Scripts
		script( src="scripts/lib/jquery-1.10.1.min.js" )

		script( src="scripts/lib/bootstrap.min.js" )

		script( src="scripts/lib/spine/spine.js", type"text/javascript")
		script( src="scripts/lib/moment.min.js", type"text/javascript")
		script( src="scripts/lib/jwerty.js", type"text/javascript")
		script( src="scripts/lib/typeahead.min.js", type"text/javascript")


		script( src="libs/handlebars.runtime.js", type"text/javascript")


		script( src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2a8KdO9x1fmW942MBZmu79CewTwKC0T0&sensor=false", type"text/javascript")


		script( src="scripts/lib/color-thief.js", type"text/javascript")
		script( src="scripts/lib/quantize.js", type"text/javascript")

		script( src="scripts/device.js", type"text/javascript")
		script( src="scripts/context_event.js", type"text/javascript")
		script( src="scripts/event.js", type"text/javascript")
		script( src="scripts/day.js", type"text/javascript")
		script( src="scripts/app.js", type"text/javascript")

/*
//template(name="days")
	#Tools.tools
		input#AppCategoryInput(placeholder="App Category")
		input#OpenedFromInput(placeholder="Opened From")

	#Events.events

	.axis
		- for (var x = 0; x < 24; x++)
			.hour= x

	#Templates

		template( id="EventTemplate", type="text/x-handlebars-template" )
			.event.Event( package_name="{{package_name}}", opened_from="{{opened_from}}" ,title="{{package_name}} - {{timeHour}} - {{opened_from}}" )
				.icon
					{{#if icon_url}}
					img( src="{{icon_url}}")
					{{else}}
					.package-name {{clean_package_name}}
					{{/if}}
				//.meta
					.app-name {{package_name}}
					.time {{timeHour}}


		template( id="ContextEventTemplate", type="text/x-handlebars-template" )
			.context-event.ContextEvent( space_name="{{space_name}}" )


		template( id="DayTemplate", type="text/x-handlebars-template" )
			.day.Day( oppened_apps="0" )
				.date {{date}}
				//.axis
					- for (var x = 0; x < 24; x++)
						.hour= x
*/



template(name="hello")
	h1 Hello
	p {{greeting}}


	input(type="button", value="Click")
